.main{
    margin: 0 10vw;
}
/* ---esta es la parte del texto-- */
.position_text{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.position_text h1{
    font-size: 4rem;
}
/* ---aca empieza las pociciones de la card-- */

section{ /* este es el padre */
    display: flex;
    max-width: 100vw;
    flex-direction:row;
    margin-top: 3rem;   
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* --cuerpo de la card-- */
.body_card{
    border-radius: 2rem;
    width: 20vw;
    height: 45vh;
    background-color:var(--card);
    padding: 1rem;
    margin: 1rem;
    transition: all 0.6s ease;
}
.body_card:hover{
    scale: 1.09;
}
/* ---parte de la imagen-- */
.body_card img{
    border-radius:0.5rem;
}
/* ---La parte del body-- */
.text_down{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 2px;
}
.text_down h5{
    font-size: 1.3rem;
}
.text_down h6{
    font-size: 1.3rem;
    padding-top: 1.5rem;
}
.text_down button{
    border: none;
    background-color: var(--secundario);
    border-radius: 2rem;
    width: 10vw;
    margin-top: 2.5rem;
    transition: 0.5s all ease-in-out;
}
.text_down button:hover{
background-color: var(--btn);
}
/* ----Aca empieza la parte de las categorias--- */
.categories_card{
    border-radius: 2rem;
    width: 20vw;
    height: 48vh;
    background-color:var(--card);
    padding: 1rem;
    margin: 1rem;
    transition: all 0.6s ease;
}
.contenedor_category{
    margin: 0 10vw;
    max-width: 100%;
}
.position_paginate{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}