.body_create{
    display: flex;
    justify-content:space-around;
    max-width: 100%;
    padding: 2rem;
}
/* --esta es la parte del texto y de la imagen-- */
.texting_create{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.texting_create{
    margin-top:5rem;
    height: 40vh;
    width: 40vw;
}
.texting_create h2{
    font-size: 3rem;
}
.texting_create p{
    font-size: 1.3rem;
    margin: 1rem;
}
.texting_create img{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height:35vh;
    width: 35vw;
}
/* ------------la parte del crear anuncios--------- */
.card_created{
    position: relative;
    display: flex; /* Muestra el contenido como flexbox */ 
    flex-direction: column; /* Coloca el contenido en una columna */
    padding: 1.5vw;
    justify-content: space-between; /* Distribuye el contenido verticalmente */
    height: 80vh;
    width: 30vw;
    box-shadow: 0px 9px 33px -3px var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--card);
}
/* ----posiciones dentro dela Card_body_Created--- */
.position_top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
}
/* ----separamos en dos partes el top--- */
.position_top textarea{
 height:15vh;
 margin: 0.5vw;
 border:1px solid var(--secundario);
 border-radius:1rem;
}
.position_top textarea:focus{
    outline: 3px solid var(--secundario);
}
.position_top input:focus{
    outline: 3px solid var(--secundario);
}

.position_top input{
width: 18vw;
margin: 1vw;
border-radius:1rem;
border:1px solid var(--secundario);
}

/* -----y el Down---- */
.position_down{
    padding-left: 3rem;
}
.colors{
    border: none;
    border-radius: 1rem;
    border: 1px solid var(--secundario);
}
.colors:focus{
    outline: 3px solid var(--secundario);
}
.position_down input{
    border-radius: 0.5rem;
    border: 1px solid var(--secundario);
}
.position_down input:focus{
    outline: 3px solid var(--secundario);
}
.margin_down{
    margin-bottom: 3rem;
}
.margin_down input{
    border: none;
    width: 17vw;
    background-color: white;
    border-radius: 1rem; 
}
.btn_create{
    border: none;
    background-color: var(--secundario);
    border-radius: 2rem;
    width: 5vw;
    margin-top: 1rem;
    transition: 0.5s all ease-in-out;
    }
.btn_create:hover{
background-color: var(--btn);
}
/* ----final :)--- */