:root{
    --principal: rgb(238, 234, 228);
    --secundario: rgb(172, 98, 8);
    --btn:rgb(248, 192, 125);
    --shadow:rgba(101, 96, 96, 0.8);
    --card:rgb(250, 235, 215);
    --form: rgb(243, 214, 177);
  }

  .botton{
    background-color:var(--btn);
    color: black;
    border-radius: 1rem;
  }
  
  *{
    padding: 0;
    margin: 0;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     box-sizing: border-box;
  }
  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }